@charset "utf-8";
@use "sass:list";

/**
 * @site Social links profile
 * @author Victor Brito
 */

// Browser configuration
@use "base/config" as *;

@use "base/mixins" with (
    $media-queries-breakpoints: (
        medium: 536,
        large: 1000
    )
);
@use "variables";
@use "base/reset";
@use "base/print";
@use "typo/font-face";
@use "layout/layout";
@use "card/card";
